<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <script src="../../../lib/flexible.js"></script>
    <link rel="stylesheet" href="../../dist/css/xcj.min.css">
</head>
<body>
    <div class="center-top">
        <div class="center-top-img">
            <img src="../img/head.png" alt="">
        </div>
        <span class="center-tit">账户余额(元)</span>
        <span class="money">5.70</span>
        <span class="btn">立即结算</span>
        <div class="row clr row-first">
            <div class="row-box">
                <span class="box-txt">内容采纳收入</span>
                <span class="num">10.00</span>
            </div>
            <div class="row-box">
                <span class="box-txt">留言精选收入</span>
                <span class="num">10.00</span>
            </div>
        </div>
        <div class="row clr">
            <div class="row-box">
                <span class="box-txt">已结算</span>
                <span class="num">10.00</span>
            </div>
            <div class="row-box">
                <span class="box-txt">累积收入</span>
                <span class="num">10.00</span>
            </div>
        </div>
    </div>
    <div class="center-lists">
        <div class="list">
            <div class="list-img"><img src="../img/content.png" alt=""></div>
            
            <div class="list-info">
                <span class="info-tit">内容采纳收入</span>
                <span class="time">2018-2-03</span>
            </div>
            <div class="list-money"><span>+0.1</span></div>
        </div>
        <div class="list">
            <div class="list-img"><img src="../img/content.png" alt=""></div>
            
            <div class="list-info">
                <span class="info-tit">留言精选收入</span>
                <span class="time">2018-2-03</span>
            </div>
            <div class="list-money"><span>+0.1</span></div>
        </div>
        <div class="list">
            <div class="list-img"><img src="../img/content.png" alt=""></div>
            
            <div class="list-info">
                <span class="info-tit">留言精选收入</span>
                <span class="time">2018-2-03</span>
            </div>
            <div class="list-money"><span>+0.1</span></div>
        </div>
    </div>
</body>
</html>