<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秘密吐槽介绍</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../../dist/css/agent-personal.min.css">
</head>
<body>
    <div class="secret_intro">
        <span class="intro_tit">如果秘密只是属于个人，生活会狭窄封闭得像一潭死水</span>
        <div class="intro_mes">
            <span class="mes_time">2018-3-7</span>
            <a href="http://m.tdamm.com/secret/speech" class="mes_name">吐槽指南</a>
        </div>
        <div class="line"></div>
        <div class="intro_section1">
            <span>△</span>
            <span>说不出的秘密解不开的难题</span>
            <span>每晚九点<strong>秘密吐槽</strong>等你来约</span>
            <span  class="section1-icon">△</span>
        </div>
        <div class="intro_pic1"><img src="../img/intro_pic1.gif" alt=""></div>
        <div class="intro_section2">
            <div class="section2_bg">
                <span>男朋友只有几分钟？！</span>
                <span>他经常跟我聊骚是喜欢我吗？</span>
                <span>室友深夜煲电话粥我深受其害！</span>
                <span>一不小心撞见爸妈不可描述的事？！</span>
                <span>一夜暴富穷亲戚找上门帮不帮？</span>
                <span>......</span>
            </div>
        </div>
        <div class="intro_section3">
            <span>有些烦恼，想找人聊聊，TA却远在他方</span>
            <span>有些隐私，难以启齿，又急需指点迷津</span>
            <span>有些秘密，越憋着越难受，总想一吐为快</span>
            <span>... ...</span>
            <span>每个人总有这样那样的秘密</span>
            <span>却又不适合与身边亲人朋友们说</span>
            <span>只有自己埋在心底，暗暗消化</span>
            <span>却如鲠在喉</span>
        </div>
        <div class="intro_pic2"><img src="../img/intro_pic2.gif" alt=""></div>
        <div class="intro_section4">
            如果，有一个可以任由我们<span>随时随地倾诉</span>的好朋友，不用考虑TA是否在忙，会不会打扰到TA，对方还<span>不会嫌烦，很耐心</span>，并能<span>提供行之有效的解决方案</span>，那该多好！
        </div>
        <div class="intro_section_tit">
            秘密吐槽
        </div>

        <div class="intro_txt">
            <span>一个专为广大网友设置的秘密回收站！你们的贴心闺蜜、好基友！</span>
        </div>
        <div class="intro_section4">
            有烦恼？请告诉我，我拉上数万网友一起为你出谋划策；有不得不说的隐私？也请告诉我，在这里，你不用感到不好意思，温柔可亲的<span>“小曹姐”</span>会认真聆听你的心声，做你最诚挚的倾听者~
        </div>
        <div class="intro_section_box">
            <span class="num">1</span>
            <span class="tit">吐槽流程</span>
        </div>
        <div class="intro_icon">▼</div>
        <div class="intro_process">
            <div class="process_list">
                <div class="panel">
                    1、添加小曹姐微信
                </div>
                <img src="../img/img0.jpg" alt="">
                <div class="panel_border"></div>
            </div>
            <img src="../img/code.jpg" alt="code" class="code">
            <div class="process_list">
                <div class="panel">
                    2、以文字或语音的形式，倾诉你的秘密
                </div>
                <img src="../img/img1.jpg" alt="">
                <div class="panel_border"></div>
            </div>
            <div class="process_list">
                <div class="panel">
                    3、小曹姐会认真筛选审核，一旦选中，你将收到一则内容采纳通知
                </div>
                <img src="../img/img0.jpg" alt="">
                <div class="panel_border"></div>
            </div>
            <div class="process_list">
                <div class="panel">
                    4、成功被采纳的秘密，届时将会展示在公众号上，得到热心网友的见解与支招
                </div>
                <img src="../img/img1.jpg" alt="">
                <div class="panel_border"></div>
            </div>
        </div>

        <div class="intro_section4">
            ps：当然，我们会根据你的要求，头像打码<i>匿名</i>处理，不会泄露你的身份，保障你的隐私安全！
        </div>
        <div class="intro_section_box">
            <span class="num">2</span>
            <span class="tit">吐槽示例</span>
        </div>
        <div class="intro_icon">▼</div>
        <div class="intro_common_t">
            <div class="common_tit">
                <span class="tit_icon">Q</span>
                <span class="tit_mes">你的秘密讲给我听</span>
            </div>
            <div class="common_txt">添加小曹姐微信，倾诉你的秘密</div>
        </div>
        <div class="intro_pic">
            <img src="../img/pic1.jpg" alt="">
            <img src="../img/pic2.jpg" alt="">
        </div>
        <div class="intro_common_t">
            <div class="common_tit">
                <span class="tit_icon">A</span>
                <span class="tit_mes">听听别人的建议</span>
            </div>
            <div class="common_txt">我们会将你的秘密展示在公众号上，让广大网友一齐为你想方设法</div>
        </div>
        <div class="intro_pic">
            <img src="../img/pic3.jpg" alt="">
            <img src="../img/pic4.jpg" alt="">
        </div>
        <div class="intro_section_box">
            <span class="num">3</span>
            <span class="tit">更多示例</span>
        </div>
        <div class="intro_icon">▼</div>
        <div class="intro_pic">
            <img src="../img/pic5.jpg" alt="">
        </div>
        <div class="line1">
            <span class="icon"></span>
        </div>
        <div class="intro_section4">
            <span>烦恼？隐私？秘密？</span>只要你想要倾诉，都可以来信告诉我们。也许困扰你多时的烦恼，在这里能轻易得到化解。
        </div>
        <div class="intro_h2">
            <span>『秘密吐槽』栏目已正式上线</span>
            <span>每晚9点更新</span>
        </div>
        <div class="intro_section4">
            万事俱备只等你来约，小曹姐正期待你的来信~
        </div>
        <div class="intro_end">
            &nbsp;•&nbsp;end&nbsp;•&nbsp;
        </div>

        <div class="intro_code_wrap">
            <div class="pics">
                <img src="../img/code_left.gif" class="img1" alt="">
                <img src="../img/code.jpg" class="img2" alt="">
                <img src="../img/code_right.gif" class="img1" alt="">
            </div>
            <span class="txt">长按识别 添加小曹姐微信</span>
        </div>
    </div>
</body>
</html>