<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>css3-demo</title>
    <link rel="stylesheet" href="../../dist/css/css3-demo.min.css">
</head>
<body>
    <div class="demo-cube">
        <ul class="cones">
            <li class="bottom"></li>
            <li class="front"></li>
            <li class="left"></li>
            <li class="right"></li>
        </ul>
        <ul class="cube">
            <li class="top"></li>
            <li class="bottom"></li>
            <li class="front"></li>
            <li class="back"></li>
            <li class="left"></li>
            <li class="right"></li>
        </ul>
    </div>
</body>
</html>