<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精品阅读</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../../iconfont/iconfont.css">
    <link rel="stylesheet" href="../../dist/css/novel.min.css">
    <style>
        html, body{height: 100%;}
        .boutique{height: 100%;}
    </style>
</head>
<body>
    <div class="boutique">
        <span class="boutique-name">精品类别</span>
        <div class="boutique-content">
            <div class="txt">
                温馨提示：亲！精品专区是我们夜以继日精心打造的专区，希望亲对我
                们的成果给予肯定。该专区每本(小说、漫画)20章以后需邀请<span>5位亲
                密好友</span>，解锁全部精彩内容，如果<span>全章节少于20章</span>亲们可以免费看！
            </div>
            <a href="#" class="panel panel1"></a>
            <a href="#" class="panel panel2"></a>
        </div>
    </div>
</body>
</html>