<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>书城首页</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../../iconfont/iconfont.css">
    <link rel="stylesheet" href="../../dist/css/novel.min.css">
</head>
<body>
    <div class="novel-homepage">
        <div class="homepage-top clr">
            <a href="https://m.tdamm.com/personal/center" class="to-center">
                <img src="../img/top-icon.png" alt="头像">
                <span>个人中心</span>
            </a>
            <a href="https://m.tdamm.com/novel/search/index" class="search-box">
                <span class="iconfont icon-iconsmallsearch"></span>
                <span class="tit">搜索</span>
            </a>
        </div>
        <div class="latest-read">
            <span class="iconfont icon-shijian"></span>
            上次阅读：万古帝尊 第一章 五毒教
        </div>
        <div class="nav-bar">
            <a href="https://m.tdamm.com/novel/book/novelclass">
                <i class="iconfont icon-fenlei"></i>
                <span class="tit">分类</span>
            </a>
            <a href="#">
                <i class="iconfont icon-paixing"></i>
                <span class="tit">排行</span>
            </a>
            <a href="https://m.tdamm.com/novel/book/novelclass?choose=1&page=1&type=1&classify=0">
                <i class="iconfont icon-nan"></i>
                <span class="tit">男生</span>
            </a>
            <a href="https://m.tdamm.com/novel/book/novelclass?choose=1&page=1&type=2&classify=0">
                <i class="iconfont icon-nv"></i>
                <span class="tit">女生</span>
            </a>
        </div>
        <i class="iconfont icon-weibiaoti--"></i>
        <i class="iconfont icon-weibiaoti--"></i>
        <!-- 精品推荐 -->
        <div class="recommend">
            <div class="recommend-top clr">
                <span class="tit">精品推荐</span>
                <a href="#" class="more">更多<i>></i></a>
            </div>
            <ul class="recommend-items clr">
                <li class="item">
                    <div class="pic"><img src="../img/xs-pic.png" alt=""></div>
                    <span class="tit">万古帝尊</span>
                </li>
                <li class="item">
                    <div class="pic"><img src="../img/xs-pic.png" alt=""></div>
                    <span class="tit">万古帝尊</span>
                </li>
                <li class="item">
                    <div class="pic"><img src="../img/xs-pic.png" alt=""></div>
                    <span class="tit">万古帝尊</span>
                </li>
                <li class="item">
                    <div class="pic"><img src="../img/xs-pic.png" alt=""></div>
                    <span class="tit">万古帝尊</span>
                </li>
            </ul>
        </div>

        <!-- 热门书单 -->
        <div class="hot">
            <div class="hot-top clr">
                <span class="tit">热门书单</span>
                <a href="#" class="more">更多<i>></i></a>
            </div>
            <div class="hot-lists">
                <a href="#" class="list">
                    怪医圣手
                </a>
                <a href="#" class="list">
                    怪医圣手
                </a>
                <a href="#" class="list">
                    怪医圣手
                </a>
                <a href="#" class="list">
                    怪医圣手
                </a>
            </div>
        </div>

        <div class="wx-customer">
            <span class="tit">微信客服:Ntgs010</span>
            <img src="../img/code.png" alt="微信客服" class="code">
        </div>
    </div>
</body>
</html>